* {
    margin: 0;
}

h1 {
   text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 450px;
}

.one {
    background-color: rgba(33,177,74,255);
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;

}

.two {
    background-color: rgba(253,201,16,255);
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    top: 200px;
}

.three {

    background-color: rgba(63,71,203,255);
    height: 200px;
    width: 200px;
    display: inline-block;
}


.four {
    background-color: rgba(63,71,203,255);
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    top: 400px;
    right: 613px;
}

.five {
    background-color: rgba(36,175,76,255);
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    top: 400px;
    right: 409px;

}
