* {
    box-sizing: border-box;
    margin: 0%
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    background-color: rgb(244, 79, 189);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  nav {
    float: left;
    width: 30%;
    height: 600px; 
    background: rgb(75, 233, 241);
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }

    nav ul a {
        text-decoration: none;
    }

    nav ul li {
        padding: 65px;
        background-color: rgb(75, 233, 241);
        color: white;
        border-bottom: 1px solid rgb(46, 234, 184);
    }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #41f3ae;
    height: 600px; 
  }
  

  

  footer {
    background-color: rgb(243, 243, 83);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px;
    color: rgb(252, 32, 32);
  }